
.icon-coffee:before { content: '\e800'; } /* '' */
.icon-check-empty:before { content: '\e801'; } /* '' */
.icon-check:before { content: '\e802'; } /* '' */
.icon-briefcase:before { content: '\e804'; } /* '' */